name: Build .NET

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Install maui workloads
      run: dotnet workload install maui-android
    - name: Build with dotnet
      run: dotnet build HueEntertainmentPro.sln --configuration Debug
    - name: Publish Website
      run: dotnet publish HueEntertainmentPro/Server -o publish/HueEntertainmentPro.Server -c Debug